.main-page {
   
}

.main-page__spinner {
    margin: 1rem auto;
}

.main-page__load-more-btn {
    font-size: 1.5rem;
    margin: 2rem auto;
    padding: 1rem;
    display: block;
    cursor: pointer;
    border: none;
}
